.box {
    width: 50%;
    height: 100%;
    padding: 5% 5%;
    float: left;
}

.box .small-box {
    width: 100%;
    height: 100%;
}
.holder {
    background-color: rgba(153, 98, 22, 0.4);
    color: white;
    font-size: 20px;
    padding: 0 30px;
    padding-bottom: 60px;
    height: 100%;
    width: 100%;

}

.form-body {
    background-color: rgb(211, 166, 104);
    margin-top: 1%;
    padding: 1% 2%;
    border-radius: 20px;
    padding-bottom: 3%;
}

.holder .title {
    padding-top: 2%;
    font-size: 40px;
    text-align: center;
}

#body .holder .label {
    padding: 15px 0;
    display: block;
}

.holder .input {
    font-size: 20px;
    width: 100%;
    padding: 5px 5px;
    border: 1.5px solid black;
}

#body .holder .button {
    padding-top: 15px;
}

.button.bt1 {
    padding-left: 20px;
    float: right;
}

.button.bt2 {
    padding-left: 0px;
    float: left;
    margin-bottom: 2%;
}

#body .holder .button input{
    border: 2px solid black;
    width: 100px;
    height: 30px;
    font-size: 23px;
    background-color: rgb(255, 255, 255);
}

.holder .back {
    margin-top: 15px;
    padding: 0 3px;
    float: right;
    font-size: 23px;
    line-height: 24px;
    text-decoration: none;
    background-color: white;
    border: 2px solid black ;
    padding-bottom: 2px;
}

select {
    font-size: 20px;
    padding: 5px 0;
    margin-bottom: 3px;
}

.close {
    display: none;
}

.show-room {
    width: 100%;
    height: 27%;
    background-color: wheat;
    overflow-y: scroll;
}

.row {
    height: 40%;
    width: 100%;
    display: block;
    padding: 1.5% 1%;
}

.stt {
    float: left;
}

.status {
    float: right;
}

.row ul li{
    display: inline;
    width: 50%;
    text-align: center;
    line-height: 150%;
}

.clear {
    clear: both;
}

.row ul {
    width: 100%;
    height: 100%;
    background-color: rgb(209, 189, 152);
}

.row ul a {
    height: 100%;
    width: 100%;
    color: black;
}

.back.bt2 {
    margin-top: 2%;
    float: left;
    margin-bottom: 1%;
    color: black;
}

.back.bt3 {
    margin-top: 2%;
    float: right;
    margin-bottom: 1%;
    color: black;
}

.img-holder-1 {
    margin-top: 2%;
    height: 40%;
    width: 33%;
    padding: 0 2%;
    float: left;
    margin-bottom: 3%;
}

.img-holder-1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.right {
    margin-right: 1%;
    float: right;
    border: 1.5px solid black;
}

.colored-box {
    background-color: rgb(163, 103, 19);
    padding-left: 0;
}

#img-1 {
    font-size: 20px;
}

#img-2 {
    font-size: 20px;
}

#img-3 {
    font-size: 20px;
}

.black-text {
    color: black;
}

.box-left {
    padding-right: 0;
}