#body .box {
    float : left;
    height: 100%;
    width: 50%;
    padding: 5%;
}

.box .small-box {
    height: 100%;
    width: 100%;
    background-color: rgb(136,112,87);
    color: black;
}

.small-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.small-box.non-img {
    padding: 3%;
}

#body .box h1 {
    padding: 20px 10%;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
}

#body .box p {
    padding: 10px 10%;
    font-size: 28px;
}

#body .box ul {
    padding-left: 40px;
    padding-top: 20px;
    list-style-type: circle;
    font-size: 20px;
}

#body .box ul li {
    padding: 10px 0;
}

#body .box a {
    margin-top: 10px;
    margin-right: 25px;
    padding: 15px;
    float: right;
    font-size: 30px;
    color: whitesmoke;
    background-color: rgb(221, 159, 71);
    text-decoration: none;
    border-radius: 15px;
}

.close {
    display: none;
}

