
#body .picture-holder {
    display: inline;
}

#body .picture-holder img{
    
    object-fit: cover;
    height: 550px;
    width: 600px;
    margin-left: 12%;
    margin-top: 5%;
    border-radius: 5%;
}

#body .box {
    display: inline;
    margin-top: 5%;
    margin-right: 12%;
    float : right;
    height: 550px;
    width: 600px;
    background-color: rgb(141, 90, 19);
    border-radius: 5%;
    color: rgb(235, 241, 250);
}

#body .box h1 {
    padding: 20px 10%;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
}

#body .box p {
    padding: 10px 10%;
    font-size: 28px;
}

#body .box ul {
    padding-left: 40px;
    padding-top: 20px;
    list-style-type: circle;
    font-size: 20px;
}

#body .box ul li {
    padding: 10px 0;
}

#body .box a {
    margin-top: 10px;
    margin-right: 25px;
    padding: 15px;
    float: right;
    font-size: 30px;
    color: rgb(59, 38, 8);
    background-color: rgb(221, 159, 71);
    text-decoration: none;
    border-radius: 15px;
}

.close {
    display: none;
}

