#body .big-box {
    width: 60%;
    height: 90%;
    margin: 2.3% auto;
}

.add {
    float: right;
    font-size: 23px;
    text-decoration: none;
    color: black;
    line-height: 40px;
    padding: 0 5px;
    background-color: white;
    margin-top: 1%;
    margin-right: 10%;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
}

.clear {
    clear: both;
}

.show-question {
    font-size: 23px;
    color: white;
    line-height: 30px;
    height: 70%;
    overflow-y: scroll;
    background-color: rgba(201, 154, 89, 0.6);
}

.controller {
    width: 20%;
    margin: 10%;
    line-height: 40px;
}

.row {
    height: 20%;
    width: 100%;
    display: block;
}

.row ul {
    width: 100%;
    height: 100%;
}

.row ul .question-holder{
    width: 100%;
    height: 80%;
    background-color: rgb(156, 119, 66);
}

.row ul li{
    display: inline;
    line-height: 80px;
    float: left;
    width: 23%;
    text-align: center;
}

.row ul .stt {  
    width: 8%;
}


.row a {
    color: white;
    text-decoration: none;
}

.small-box {
    width: 100%;
    height: 10%;
    background-color: rgb(156, 99, 18);
}

.small-box h1 {
    text-align: center;
    color: white;
    line-height: 200%;
}

.back {
    float: left;
    font-size: 23px;
    text-decoration: none;
    color: black;
    line-height: 40px;
    padding: 0 5px;
    background-color: white;
    margin-top: 1%;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 600;
}
